<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-8 mb-3">
      <label for="validationTooltip01">Name</label>
      <input
        type="text"
        class="form-control"
        id="validationTooltip01"
        value="i.e Apples"
        required
      />
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Amount</label>
      <input
        type="text"
        class="form-control"
        id="validationTooltip02"
        value="i.e 15"
        required
      />
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
  </div>
  <button class="btn btn-success m-2" type="submit">Add</button>
  <button class="btn btn-danger m-2">Delete</button>
  <button class="btn btn-info m-2">Clear</button>
</form>
